<div class="container-marge">
    <div class="flex-container">

        <div class="align-center">
            <h2 class="titre-ajout">Ajouter un produit</h2>
            <button mat-fab color="primary" aria-label="Ajouter" (click)="openDialog(undefined)">
                <mat-icon>add</mat-icon>
            </button>
        </div>


        <!-- Formulaire de recherche (filtre) -->
        <mat-form-field class="ml-auto">
            <mat-label>Filtre</mat-label>
            <input matInput (keyup)="applyFilter($event)" #input>
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
    
    <!-- Liste des produits -->
    <table mat-table #tableProduits [dataSource]="dataSourceProduits" matSort>
        <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
            <td mat-cell *matCellDef="let produit"> {{produit.nom}} </td>
        </ng-container>
    
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let produit">
                <button mat-icon-button aria-label="Voir détails" [routerLink]="['/produit', produit.id]">
                    <mat-icon>visibility</mat-icon>
                </button>
                <button mat-icon-button aria-label="Modifier" (click)="openDialog(produit)">
                    <mat-icon>edit</mat-icon>
                </button> 
                <button mat-icon-button aria-label="Supprimer" (click)="deleteProduit(produit.id)">
                <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>
            
    
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
    </table>
    
    <!-- pagination -->
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Sélectionner la page des produits"></mat-paginator>
        
</div>