<div class="container-marge">
    <h1>À propos de nos produits</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, consectetur pariatur est atque reiciendis labore obcaecati. Natus aspernatur, reiciendis unde labore, magni veritatis vitae iure quisquam exercitationem fuga ipsum fugiat!</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo ullam mollitia minus alias porro repudiandae earum sequi, qui eius quos eveniet consequatur commodi ea, architecto reprehenderit neque corporis aspernatur natus.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non dolor iure placeat ad cumque quos fugiat deleniti enim unde, aspernatur doloribus sunt sed consequuntur numquam ex voluptas omnis eius minima.</p>
    <a [routerLink]="['/liste-produits']">Liste des produits</a>
</div>